<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Styles/style.css" media="screen" />
    <title>Calculator</title>
</head>
<body>
     <div class="main">
        <div class="display">
            <div class="screen">
                0
            </div>
        </div>
        <div class="row">
            <div id="btn-clear" class="operationClear" title="Clear All">C</div>
            <div id="btn-percentage" class="operationClear" title="Pencentage">%</div>
            <div id="btn-backspace" class="operationClear" title="Backspace">B</div>
            <div id="btn-divide" class="operationClear" title="divide">/</div>
        </div>
        <div class="row">
            <div id="btn-7" class="number" title="Seven">7</div>
            <div id="btn-7" class="number" title="Eight">8</div>
            <div id="btn-9" class="number" title="Nine">9</div>
            <div id="btn-minus" class="operation">-</div>
        </div>        
        <div class="row">
            <div id="btn-4" class="number" title="Four">4</div>
            <div id="btn-5" class="number" title="Five">5</div>
            <div id="btn-6" class="number" title="Six">6</div>
            <div id="btn-plus" class="operation">+</div>
        </div>        
        <div class="row">
            <div id="btn-1" class="number" title="">1</div>
            <div id="btn-2" class="number" title="">2</div>
            <div id="btn-3" class="number" title="">3</div>
            <div id="btn-times" class="operation">x</div>
        </div>        
        <div class="row">
            <div id="btn-0" class="numberZero">0</div>
            <div id="btn-dot" class="number">,</div>
            <div id="btn-equals" class="operation">=</div>
        </div>        
     </div>

    <script src="../Scripts/index.js"></script>
</body>
</html>